
@font-face {
  font-family: "iconfont";
  src:url('./iconfont.ttf?t=1532764941244') format('truetype');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowdown:before { content: "\e629"; }

.icon-gengduo:before { content: "\e72c"; }

.icon-yingyuanxinxiqupiaoji:before { content: "\e655"; }

.icon-user:before { content: "\e6a3"; }

.icon-3dyanjing:before { content: "\e6d7"; }

.icon-arrow:before { content: "\e64d"; }

.icon-gengduo1:before { content: "\e648"; }

.icon-gengduo-copy:before { content: "\e603"; }

.icon-tag10:before { content: "\e659"; }

.icon-menu:before { content: "\e60b"; }

.icon-bus:before { content: "\e600"; }

.icon-dianhua:before { content: "\e627"; }

.icon-zuowei:before { content: "\e630"; }

.icon-youhui:before { content: "\e601"; }

.icon-fanhui:before { content: "\e605"; }

.icon-leimupinleifenleileibie1:before { content: "\e60f"; }

.icon-tingche:before { content: "\e7b7"; }

.icon-shezhiqupiaozhi-:before { content: "\e618"; }

.icon-arrow-down:before { content: "\e9d8"; }

.icon-arrow-up:before { content: "\e9d9"; }

.icon-location:before { content: "\e602"; }

.icon-gouwuche:before { content: "\e604"; }

.icon-kong:before { content: "\e639"; }

.icon-index:before { content: "\e606"; }

